{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

        <h1 class="text-center fw-bold mb-4">Events</h1>

        <div class="row">
            <div class="table-responsive">
            <table class="table table-bordere mb-4" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        {% if data %}
                        <th>FileName</th>
                        <th>Decision</th>
                        <th>FileSha256</th>
                        <th>SigningStatus</th>
                        <th>VirusTotalResult</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        {% if 'FileName' in item %}
                            <td>{{ item.FileName }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if 'Decision' in item %}
                            <td>{{ item.Decision }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if 'FileSha256' in item %}
                            <td>{{ item.FileSha256 }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if 'SigningStatus' in item %}
                            <td>{{ item.SigningStatus }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if 'VirusTotalResult' in item %}
                            <td>{{ item.VirusTotalResult }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

{% endblock %}

{% block content_scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "paging": true,                     // Enables pagination
                "searching": true,                  // Enables search box
                "ordering": true,                   // Enables sorting
                "info": true,                       // Shows "Showing X of Y entries"
                "lengthMenu": [5, 10, 25, 50, 100], // Controls page length options
                "pageLength": 50                    // Default rows per page
            });
        });
    </script>
{% endblock %}