{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}

        <h1 class="text-center fw-bold mb-4">
            Event Details 
            <button class="btn btn-santa btn-sm me-" onclick="deleteEvent('{{ data.file_sha256 }}')">
                Delete Event
            </button>
            <button type="button" class="btn btn-santa btn-sm" data-bs-toggle="modal" data-bs-target="#navigationModal">
                Create Rule
            </button>
        </h1>

        <!-- Create Rule -->
        <div class="modal fade" id="navigationModal" tabindex="-1" aria-labelledby="navigationModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="navigationModalLabel">Create Rule</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="evaluationSelect" class="form-label">Evaluation</label>
                            <select id="evaluationSelect" class="form-select">
                                {% if data.cdhash %}
                                <option value="CDHASH" data-identifier="{{ data.cdhash }}">CD Hash</option>
                                {% endif %}
                                {% if data.file_sha256 %}
                                <option value="BINARY" data-identifier="{{ data.file_sha256 }}">Binary</option>
                                {% endif %}
                                {% if data.signing_id %}
                                <option value="SIGNINGID" data-identifier="{{ data.signing_id }}">Signing ID</option>
                                {% endif %}
                                {% if data.signing_chain and data.signing_chain|length > 0 %}
                                <option value="CERTIFICATE" data-identifier="{{ data.signing_chain[0].sha256 }}">Certificate</option>
                                {% endif %}
                                {% if data.team_id %}
                                <option value="TEAMID" data-identifier="{{ data.team_id }}">Team ID</option>
                                {% endif %}
                            </select>
                        </div>
                        <input type="hidden" id="identifierInput">
                        <div class="mb-3">
                            <label for="actionSelect" class="form-label">Action</label>
                            <select id="actionSelect" class="form-select">
                                <option value="ALLOWLIST" selected>Allow</option>
                                <option value="ALLOWLIST_COMPILER">Allow Compiler</option>
                                <option value="BLOCKLIST">Block</option>
                                <option value="SILENT_BLOCKLIST">Silent Block</option>
                                <option value="REMOVE">Remove</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="scopeSelect" class="form-label">Scope</label>
                            <select id="scopeSelect" class="form-select">
                                <option value="global" selected>Global</option>
                                <option value="munki">Munki</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="customMessage" class="form-label">Custom Message</label>
                            <input type="text" id="customMessage" class="form-control" placeholder="Custom Message">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="goToPage">Create</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <div class="row">
                    <!-- Action Card -->
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-header text-uppercase fw-bold card-header-santa">Action</div>
                            <div class="card-body">
                                {% if data.decision == "ALLOW_BINARY" %}
                                <p class="card-text text-success fw-bold">Allowed to run based on Binary rule</p>
                                {% elif data.decision == "ALLOW_CERTIFICATE" %}
                                <p class="card-text text-success fw-bold">Allowed to run based on Certificate rule</p>
                                {% elif data.decision == "ALLOW_SCOPE" %}
                                <p class="card-text text-success fw-bold">Allowed to run based on Configured Scope</p>
                                {% elif data.decision == "ALLOW_TEAMID" %}
                                <p class="card-text text-success fw-bold">Allowed to run based on Team ID rule</p>
                                {% elif data.decision == "ALLOW_SIGNINGID" %}
                                <p class="card-text text-success fw-bold">Allowed to run based on Signing ID rule</p>
                                {% elif data.decision == "ALLOW_CDHASH" %}
                                <p class="card-text text-success fw-bold">Allowed to run based on CD Hash rule</p>
                                {% elif data.decision == "ALLOW_UNKNOWN" %}
                                <p class="card-text text-success fw-bold">Allowed to run because no rules blocks or allows it</p>
                                {% elif data.decision == "BLOCK_BINARY" %}
                                <p class="card-text text-santa fw-bold">Blocked based on Binary rule</p>
                                {% elif data.decision == "BLOCK_CERTIFICATE" %}
                                <p class="card-text text-santa fw-bold">Blocked based on Certificate rule</p>
                                {% elif data.decision == "BLOCK_SCOPE" %}
                                <p class="card-text text-santa fw-bold">Blocked based on Scope rule</p>
                                {% elif data.decision == "BLOCK_TEAMID" %}
                                <p class="card-text text-santa fw-bold">Blocked based on Team ID rule</p>
                                {% elif data.decision == "BLOCK_SIGNINGID" %}
                                <p class="card-text text-santa fw-bold">Blocked based on Signing ID rule</p>
                                {% elif data.decision == "BLOCK_CDHASH" %}
                                <p class="card-text text-santa fw-bold">Blocked based on CD Hash rule</p>
                                {% elif data.decision == "BLOCK_UNKNOWN" %}
                                <p class="card-text text-santa fw-bold">Blocked based as no rule allows it</p>
                                {% elif data.decision == "BUNDLE_BINARY" %}
                                <p class="card-text">Preemptively reported binary</p>
                                {% else %}
                                <p class="card-text">No action taken</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
        
                    <!-- Virus Total Card -->
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-header text-uppercase fw-bold card-header-santa">Virus Total</div>
                            <div class="card-body">
                                {% if data.virustotal_result == 2 %}
                                <p class="card-text">
                                    <b class="text-danger">Malicious</b>
                                    <button class="btn btn-success btn-sm" id="virusTotalButton">
                                        Details
                                    </button>
                                </p>
                                {% elif data.virustotal_result == 1 %}
                                <p class="card-text">
                                    <b class="text-success">Safe</b>
                                    <button class="btn btn-success btn-sm" id="virusTotalButton">
                                        Details
                                    </button>
                                </p>
                                {% elif data.virustotal_result == 0 %}
                                <p class="card-text">No Scan Available</p>
                                {% else %}
                                <p class="card-text">
                                    No Scan Performed
                                    <button class="btn btn-success btn-sm" id="virusTotalButton">
                                        Check on Virus Total
                                    </button>
                                </p>                              
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Binary Details Card -->
                <div class="card mb-3">
                    <div class="card-header text-uppercase fw-bold card-header-santa">Binary Details</div>
                    <div class="card-body text-break">
                        <ol class="list-group">
                            {% if data.file_path %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Binary Path</div>
                                    <small class="d-block">{{ data.file_path }}/{{ data.file_name }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_sha256 %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">SHA-256</div>
                                    <small class="d-block">{{ data.file_sha256 }}</small>
                                </div>
                            </li>
                            {% endif %}
                        </ol>
                        <br>
                        <ol class="list-group">
                            {% if data.file_bundle_name %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Bundle Name</div>
                                    <small class="d-block">{{ data.file_bundle_name }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_bundle_version %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Bundle Version</div>
                                    <small class="d-block">{{ data.file_bundle_version }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_bundle_version_string %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Bundle Version String</div>
                                    <small class="d-block">{{ data.file_bundle_version_string }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_bundle_idn_string %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Bundle ID</div>
                                    <small class="d-block">{{ data.file_bundle_idn_string }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_bundle_path %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Bundle Path</div>
                                    <small class="d-block">{{ data.file_bundle_path }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_bundle_executable_rel_path %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Bundle Executable Relative Path</div>
                                    <small class="d-block">{{ data.file_bundle_executable_rel_path }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.parent_name %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Parent Process</div>
                                    <small class="d-block">{{ data.parent_name }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_bundle_hash %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">File Bundle Hash</div>
                                    <small class="d-block">{{ data.file_bundle_hash }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_bundle_hash_millis %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">File Bundle Hash Millis</div>
                                    <small class="d-block">{{ data.file_bundle_hash_millis }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.file_bundle_binary_count %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">File Bundle Binary Count</div>
                                    <small class="d-block">{{ data.file_bundle_binary_count }}</small>
                                </div>
                            </li>
                            {% endif %}
                        </ol>
                        <br>
                        <ol class="list-group">
                            {% if data.signing_id %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Signing ID</div>
                                    <small class="d-block">{{ data.signing_id }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.team_id %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">Team ID</div>
                                    <small class="d-block">{{ data.team_id }}</small>
                                </div>
                            </li>
                            {% endif %}
                            {% if data.cdhash %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                    <div class="fw-bold">CD Hash</div>
                                    <small class="d-block">{{ data.cdhash }}</small>
                                </div>
                            </li>
                            {% endif %}
                        </ol>
                    </div>
                </div>
            </div>
        
            <div class="col-md-6">
                <!-- Signing Chain Card -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-header text-uppercase fw-bold card-header-santa">Signing Chain</div>
                            <div class="card-body text-break">
                                {% if data.signingStatus %}
                                <p class="card-text">Signing Status: {{ data.SigningStatus }}</p>
                                {% endif %}
                                {% if data.signing_chain %}
                                <ol class="list-group list-group-numbered">
                                {% for i in data.signing_chain %}
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">{{ i.CN }}</div>
                                            <small class="d-block">SHA-256: {{ i.sha256 }}</small>
                                            <small class="d-block">Organization: {{ i.org }}</small>
                                            <small class="d-block">Organizational Unit: {{ i.ou }}</small>
                                            <small class="d-block">Valid From: {{ i.valid_from }}</small>
                                            <small class="d-block">Valid Until: {{ i.valid_until }}</small>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ol>
                                {% endif %}
                                {% if data.csFlags %}
                                <p class="card-text">CS Flags: {{ data.csFlags }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block content_scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.getElementById("virusTotalButton").addEventListener("click", function() {
            let url = "https://www.virustotal.com/gui/file/{{ data.file_sha256 }}";
            window.open(url, "_blank");
        });
    </script>
    <script>
        function deleteEvent(FileSha256) {
            if (confirm("Are you sure you want to delete this event?")) {
                fetch(`/events/${FileSha256}/delete`, {
                    method: "DELETE"
                })
                .then(response => {
                    if (response.ok) {
                        alert("Document deleted successfully!");
                        window.location.href = "/events";  // Redirect after deletion
                    } else {
                        response.json().then(data => alert(data.message || "Error deleting document"));
                    }
                })
                .catch(error => alert("Error: " + error));
            }
        }
    </script>
    <script>
        $(document).ready(function() {
            function updateIdentifier() {
                let selectedOption = $("#evaluationSelect option:selected");
                let identifier = selectedOption.attr("data-identifier");  // Get identifier

                $("#identifierInput").val(identifier || "");
            }

            $("#evaluationSelect").change(updateIdentifier);

            updateIdentifier();

            $("#goToPage").click(function() {
                let selectedEvaluation = $("#evaluationSelect").val();
                let selectedIdentifier = $("#identifierInput").val();
                let selectedAction = $("#actionSelect").val();
                let selectedScope = $("#scopeSelect").val();
                let customMessage = $("#customMessage").val().trim();

                if (!selectedEvaluation || !selectedIdentifier) {
                    alert("Please select an evaluation and ensure an identifier is set.");
                    return;
                }

                let ruleData = {
                    evaluation: selectedEvaluation,
                    identifier: selectedIdentifier,
                    action: selectedAction,
                    scope: selectedScope,
                    custom_message: customMessage
                };

                $.ajax({
                    url: "/save_rule",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(ruleData),
                    success: function() {
                        alert("Rule saved successfully!");
                        $("#navigationModal").modal("hide");
                    },
                    error: function() {
                        alert("Failed to save rule.");
                    }
                });
            });
        });
    </script>
{% endblock %}