  <nav class="navbar sticky-top navbar-expand-lg mb-4" data-bs-theme="dark" style="background-color: #FF0000;">
    <a class="navbar-brand ps-3" href="#">Mrs Santa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/devices">Devices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rules">Rules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/events">Events</a>
            </li>
        </ul>

        <!-- Left-aligned: dark mode toggle -->
        <ul class="navbar-nav me-auto w-100 d-flex justify-content-end">
            <li class="nav-item">
              <button id="themeToggle" class="btn btn-outline-secondary">
                <span id="themeIcon" class="bi bi-sun"></span>
              </button>
            </li>
        </ul>

        <!-- Right-aligned: user info -->
        <ul class="navbar-nav ms-auto d-flex flex-row align-items-center">
            {% if session["user"] %}
                {% if session["user"]["profile_pic"] %}
                <li class="nav-item ms-3">
                    <img src="data:image/png;base64,{{ session['user']['profile_pic'] }}" class="rounded" width="40" height="40" alt="User Profile">
                </li>
                {% endif %}
                <li class="nav-item ms-2">
                    <span class="navbar-text text-white">{{ session["user"]["name"] }}</span>
                </li>
            {% endif %}
        </ul>
    </div>
  </nav>