.custom-thead {
    background-color: #FF0000 !important;
    color: white !important;
}
.card-header-santa {
    background-color: #FF0000 !important;
    color: white !important;
}
.btn-santa {
    background-color: #FF0000 !important;
    color: white !important;
}
.text-santa {
    color: #FF0000 !important;
}