<!DOCTYPE html>
<head>
  <title>Mrs Santa</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <style>
    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
      color: #333;
    }

    .cover-container {
      max-width: 42em;
    }

    .nav-masthead .nav-link {
      padding: .25rem 0;
      font-weight: 700;
      color: rgba(255, 255, 255, .5);
      background-color: transparent;
      border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
      margin-left: 1rem;
    }

    .nav-masthead .active {
      color: #fff;
      border-bottom-color: #fff;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
 </head>
<body class="d-flex h-100 text-white bg-secondary">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-2">
      <div>
        <h3 class="float-md-start mb-0">Application Rules</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Details</a>
          <a class="nav-link" href="#">Call ServiceDesk</a>
        </nav>
      </div>
    </header>

    <div class="row">

      <div class="col-lg-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Verify that intended to run this Application?</h6>
            </div>
            <div class="card-body">
              {% if response.FileBundleName %}
              <p class="card-text">File Bundle Name: {{ response.FileBundleName }}</p>
              {% endif %}
              {% if response.FileBundleVersion %}
              <p class="card-text">Version: {{ response.FileBundleVersion }}</p>
              {% endif %}
              {% if response.SignedBy %}
              <p class="card-text">Signed By: {{ response.SignedBy }}</p>
              {% endif %}
              {% if response.FilePath and response.FileName %}
              <p class="card-text">Local Path: {{ response.FilePath }}/{{ response.FileName }}</p>
              {% endif %}
              {% if response.VirusTotalResult == 0 %}
              <p class="card-text">VirusTotal Scan Result: No Scan Available</p>
              {% elif response.VirusTotalResult == 1 %}
              <p class="card-text">VirusTotal Scan Result: <b class="text-success">Safe</b></p>
              {% elif response.VirusTotalResult == 2 %}
              <p class="card-text">VirusTotal Scan Result: <b class="text-success">Malicious</b></p>
              {% endif %}
            </div>
        </div>

      </div>

    </div>

    <div class="row">

      {% if response.scope == 'global' %}
      {% if response.policy == 'BLOCKLIST' %}
      <div class="col-lg-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Rule</h6>
            </div>
            <div class="card-body">
              {% if response.custom_msg %}
              <p class="card-text">{{ response.custom_msg }}</p>
              {% else %}
              <p class="card-text">{{ response.FileName }} is blocked by BESTSELLER and is not allowed to run</p>
              {% endif %}
            </div>
        </div>

      </div>
      {% endif %}

      {% elif response.scope == 'munki' %}
      {% if response.policy == 'ALLOWLIST' %}
      <div class="col-lg-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Rule</h6>
            </div>
            <div class="card-body">
              {% if response.custom_msg %}
              <p class="card-text">{{ response.custom_msg }}</p>
              {% else %}
              <p class="card-text">{{ response.FileName }} is only allowed if installed from Managed Software Centre</p>
              {% endif %}
            </div>
        </div>

      </div>
      {% endif %}

      {% elif response.scope == 'machine' %}
      {% if response.policy == 'ALLOWLIST' %}
      <div class="col-lg-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Add Rule?</h6>
            </div>
            <div class="card-body">
              {% if response.VirusTotalResult == 2 %}
              <p class="card-text">{{ response.FileName }} cannot be allowed to run on a BESTSELLER Mac, as it is found to be <b class="text-success">Malicious</b></p>
              {% else %}
              <p class="card-text">Do you want to allow <b>{{ response.FileName }}</b> to run on your Mac({{ response.Hostname.split(".")[0] }})?</p>
              <button type="button" class="btn btn-outline-success" type="submit" value="allow" id="allow">Allow</button>
              <button type="button" class="btn btn-outline-danger" type="submit" value="report" id="report">Report as Malware</button>
              <button type="button" class="btn btn-outline-secondary" type="submit" value="close" id="close">Close</button>
              {% endif %}
            </div>
        </div>

      </div>
      {% endif %}

      {% else%}
      <div class="col-lg-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Add Rule?</h6>
            </div>
            <div class="card-body">
              {% if response.VirusTotalResult == 2 %}
              <p class="card-text">{{ response.FileName }} cannot be allowed to run on a BESTSELLER Mac, as it is found to be <b class="text-success">Malicious</b></p>
              {% else %}
              <p class="card-text">Do you want to allow <b>{{ response.FileName }}</b> to run on your Mac({{ response.Hostname.split(".")[0] }})?</p>
              <button type="button" class="btn btn-outline-success" type="submit" value="allow" id="allow-new">Allow</button>
              <button type="button" class="btn btn-outline-danger" type="submit" value="report" id="report-new">Report as Malware</button>
              <button type="button" class="btn btn-outline-secondary" type="submit" value="close" id="close-new">Close</button>
              {% endif %}
            </div>
        </div>

      </div>
      {% endif %}

    </div>

    <div class="row">

      <div class="col-lg-12">

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                More Device Details
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% if response.Hostname %}
                <p class="card-text">Hostname: {{ response.Hostname }}</p>
                {% endif %}
                {% if response.PrimaryUser %}
                <p class="card-text">User: {{ response.PrimaryUser }}</p>
                {% endif %}
                {% if response.OSVersion %}
                <p class="card-text">OS Version: {{ response.OSVersion }}</p>
                {% endif %}
                {% if response.OSBuild %}
                <p class="card-text">OS Build: {{ response.OSBuild }}</p>
                {% endif %}
                {% if response.SerialNumber %}
                <p class="card-text">Serial Number: {{ response.SerialNumber }}</p>
                {% endif %}
                {% if response.ModelIdentifier %}
                <p class="card-text">Model Identifier: {{ response.ModelIdentifier }}</p>
                {% endif %}
                {% if response.SantaVersion %}
                <p class="card-text">Santa Version: {{ response.SantaVersion }}</p>
                {% endif %}
                {% if response.ClientMode %}
                <p class="card-text">Client Mode: {{ response.ClientMode }}</p>
                {% endif %}
                {% if response.CDHashRuleCount %}
                <p class="card-text">CD Hash Rule Count: {{ response.CDHashRuleCount }}</p>
                {% endif %}
                {% if response.SigningIDRuleCount %}
                <p class="card-text">Signing ID Rule Count: {{ response.SigningIDRuleCount }}</p>
                {% endif %}
                {% if response.BinaryRuleCount %}
                <p class="card-text">Binary Rule Count: {{ response.BinaryRuleCount }}</p>
                {% endif %}
                {% if response.TeamIDRuleCount %}
                <p class="card-text">Team ID Rule Count: {{ response.TeamIDRuleCount }}</p>
                {% endif %}
                {% if response.CompilerRuleCount %}
                <p class="card-text">Compiler Rule Count: {{ response.CompilerRuleCount }}</p>
                {% endif %}
                {% if response.CertificateRuleCount %}
                <p class="card-text">Certificate Rule Count: {{ response.CertificateRuleCount }}</p>
                {% endif %}
                {% if response.TransitiveRuleCount %}
                <p class="card-text">Transitive Rule Count: {{ response.TransitiveRuleCount }}</p>
                {% endif %}
                {% if response.RequestCleanSync %}
                <p class="card-text">Request Clean Sync: {{ response.RequestCleanSync }}</p>
                {% endif %}
                {% if response.machine_id %}
                <p class="card-text">Machine ID: {{ response.machine_id }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                More Binary Details
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% if response.FileBundleName %}
                <p class="card-text">File Bundle Name: {{ response.FileBundleName }}</p>
                {% endif %}
                {% if response.FileBundleVersion %}
                <p class="card-text">Version: {{ response.FileBundleVersion }}</p>
                {% endif %}
                {% if response.FileBundleID %}
                <p class="card-text">Bundle ID: {{ response.FileBundleID }}</p>
                {% endif %}
                {% if response.FileName %}
                <p class="card-text">File Name: {{ response.FileName }}</p>
                {% endif %}
                {% if response.FilePath %}
                <p class="card-text">File Path: {{ response.FilePath }}</p>
                {% endif %}
                {% if response.SignedBy %}
                <p class="card-text">Signed By: {{ response.SignedBy }}</p>
                {% endif %}
                {% if response.FileBundleVersionString %}
                <p class="card-text">File Bundle Version: {{ response.FileBundleVersionString }}</p>
                {% endif %}
                {% if response.SigningID %}
                <p class="card-text">Signing ID: {{ response.SigningID }}</p>
                {% endif %}
                {% if response.TeamID %}
                <p class="card-text">Team ID: {{ response.TeamID }}</p>
                {% endif %}
                {% if response.FileSha256 %}
                <p class="card-text">File Hash: {{ response.FileSha256 }}</p>
                {% endif %}
                {% if response.FileBundleHash %}
                <p class="card-text">Bundle Hash: {{ response.FileBundleHash }}</p>
                {% endif %}
                {% if response.FileBundleExecutableRelPath %}
                <p class="card-text">FileBundleExecutableRelPath: {{ response.FileBundleExecutableRelPath }}</p>
                {% endif %}
                {% if response.SigningChain %}
                <p class="card-text">Signing Chain:</p>
                <ul class="list-group list-group-numbered">
                {% for i in response.SigningChain %}
                  <li class="list-group-item">{{ i.CN }}</li>
                {% endfor %}
                {% endif %}
              </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  
</body>