<!DOCTYPE html>
<head>
  <title>Mrs Santa</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/mrssanta-static/apple-touch-icon.png" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/mrssanta-static/favicon-32x32.png" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/mrssanta-static/favicon-16x16.png" type="image/x-icon">
  <link rel="shortcut icon" href="https://storage.googleapis.com/mrssanta-static/favicon.ico" type="image/x-icon">
	<link rel="icon" href="https://storage.googleapis.com/mrssanta-static/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="https://storage.googleapis.com/mrssanta-static/site.webmanifest">
  <style>
    body {
      background-color: #635d51;
    }

    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus {
      color: #333;
    }

    .cover-container {
      max-width: 62em;
    }

    .nav-masthead .nav-link {
      padding: .25rem 0;
      font-weight: 700;
      color: rgba(255, 255, 255, .5);
      background-color: transparent;
      border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
      border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
      margin-left: 1rem;
    }

    .nav-masthead .active {
      color: #fff;
      border-bottom-color: #fff;
    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
 </head>
<body class="d-flex h-100 text-white">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-2">
      <div>
        <h3 class="float-md-start mb-0">Application Rules</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Details</a>
          <a class="nav-link" href="tel:+4599424550">Call ServiceDesk</a>
        </nav>
      </div>
    </header>

    <div class="row">

      <div class="col-lg-12">

        <div class="card border-dark shadow mb-4">
            {% if response.binary.virustotal_result == 2 %}
            <div class="card-header py-3 text-bg-danger">
              <h6 class="m-0 font-weight-bold">Verify that you intended to run this Application?</h6>
            </div>
            {% else %}
            <div class="card-header py-3 text-bg-success">
              <h6 class="m-0 font-weight-bold">Verify that you intended to run this Application?</h6>
            </div>
            {% endif %}
            <div class="card-body">
              <ol class="list-group">
                {% if response.binary.file_bundle_name %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Bundle Name</div>
                        <small class="d-block">{{ response.binary.file_bundle_name }}</small>
                    </div>
                </li>
                {% endif %}
                {% if response.binary.file_bundle_version %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Version</div>
                        <small class="d-block">{{ response.binary.file_bundle_version }}</small>
                    </div>
                </li>
                {% endif %}
                {% if response.binary.file_path and response.binary.file_name %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Local Path</div>
                        <small class="d-block">{{ response.binary.file_path }}/{{ response.binary.file_name }}</small>
                    </div>
                </li>
                {% endif %}
                {% if response.binary.signing_chain and response.binary.signing_chain|length > 0 %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">Signed By</div>
                        <small class="d-block">{{ response.binary.signing_chain.0.org }} ({{ response.binary.signing_chain.0.ou }})</small>
                    </div>
                </li>
                {% endif %}
                {% if response.binary.virustotal_result == 0 %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">VirusTotal Scan</div>
                        <small class="d-block">No Scan Available</small>
                    </div>
                </li>
                {% elif response.binary.virustotal_result == 1 %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">VirusTotal Scan</div>
                        <small class="d-block"><b class="text-success">Safe</b></small>
                    </div>
                </li>
                {% elif response.binary.virustotal_result == 2 %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">VirusTotal Scan</div>
                        <small class="d-block"><b class="text-danger">Malicious</b></small>
                    </div>
                </li>
                {% endif %}
              </ol>

              <br>
            
              {% if response.binary.virustotal_result == 1 %}
              <button class="btn btn-success btn-sm" onclick=" window.open('https://www.virustotal.com/gui/file/{{ response.binary.file_sha256 }}','_blank')">Show Scan Results</button>
              {% elif response.binary.virustotal_result == 2 %}
              <button class="btn btn-danger btn-sm" onclick=" window.open('https://www.virustotal.com/gui/file/{{ response.binary.file_sha256 }}','_blank')">Show Scan Results</button>
              {% endif %}
            </div>
        </div>

      </div>

    </div>

    <div class="row">
      {% if response.ruleexists %}
      {% if response.rule.scope == 'global' %}
      {% if response.rule.policy == 'BLOCKLIST' %}
      <div class="col-lg-12">

        <div class="card border-dark shadow mb-4">
            <div class="card-header py-3 text-bg-danger">
                <h6 class="m-0 font-weight-bold">Rule</h6>
            </div>
            <div class="card-body">
              {% if response.rule.custom_msg %}
              <p class="card-text">{{ response.rule.custom_msg }}</p>
              {% else %}
              <p class="card-text">{{ response.binary.file_name }} is blocked by {{ response.organization }} and is not allowed to run</p>
              {% endif %}
            </div>
        </div>

      </div>
      {% endif %}

      {% elif response.rule.scope == 'managedapp' %}
      {% if response.rule.policy == 'ALLOWLIST' %}
      <div class="col-lg-12">

        <div class="card border-dark shadow mb-4">
            <div class="card-header py-3 text-bg-danger">
                <h6 class="m-0 font-weight-bold">Rule</h6>
            </div>
            <div class="card-body">
              {% if response.rule.custom_msg %}
              <p class="card-text">{{ response.rule.custom_msg }}</p>
              {% else %}
              <p class="card-text">{{ response.file_name }} is only allowed if installed from Managed Software Centre</p>
              {% endif %}
            </div>
        </div>

      </div>
      {% endif %}

      {% elif response.rule.scope == 'machine' %}
      {% if response.rule.policy == 'ALLOWLIST' %}
      <div class="col-lg-12">

        <div class="card border-dark shadow mb-4">
            <div class="card-header py-3 text-bg-success">
                <h6 class="m-0 font-weight-bold">Add Rule?</h6>
            </div>
            <div class="card-body">
              {% if response.binary.virustotal_result == 2 %}
              <p class="card-text">{{ response.binary.file_name }} cannot be allowed to run on a Mac owned and managed by {{ response.organization }}, as it is found to be <b class="text-success">Malicious</b></p>
              {% else %}
              <p class="card-text">Do you want to allow <b>{{ response.binary.file_name }}</b> to run on your Mac (<b>{{ response.device.hostname.split(".")[0] }}</b>)?</p>
              <button type="button" class="btn btn-outline-success btn-sm" type="submit" value="allow" id="allow">Allow</button>
              <button type="button" class="btn btn-outline-danger btn-sm" type="submit" value="report" id="report">Report as Malware</button>
              {% endif %}
            </div>
        </div>

      </div>
      {% endif %}
      {% endif %}

      {% else %}
      <div class="col-lg-12">

        <div class="card border-dark shadow mb-4">
            <div class="card-header py-3 text-bg-success">
                <h6 class="m-0 font-weight-bold">Add Rule?</h6>
            </div>
            <div class="card-body">
              {% if response.binary.virustotal_result == 2 %}
              <p class="card-text">{{ response.binary.file_name }} cannot be allowed to run on a Mac owned and managed by {{ response.organization }}, as it is found to be <b class="text-success">Malicious</b></p>
              {% else %}
              <p class="card-text">Do you want to allow <b>{{ response.binary.file_name }}</b> to run on your Mac (<b>{{ response.device.hostname.split(".")[0] }}</b>)?</p>
              <button type="button" class="btn btn-outline-success btn-sm" type="submit" value="allow" id="allow">Allow</button>
              <button type="button" class="btn btn-outline-danger btn-sm" type="submit" value="report" id="report">Report as Malware</button>
              {% endif %}
            </div>
        </div>

      </div>
      {% endif %}

    </div>

    <div class="row">

      <div class="col-lg-12">

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <b>More Device Details</b>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {% if response.device.hostname %}
                <p class="card-text"><b>Hostname:</b> {{ response.device.hostname }}</p>
                {% endif %}
                {% if response.device.primary_user %}
                <p class="card-text"><b>User:</b> {{ response.device.primary_user }}</p>
                {% endif %}
                {% if response.device.os_version %}
                <p class="card-text"><b>OS Version:</b> {{ response.device.os_version }}</p>
                {% endif %}
                {% if response.device.os_build %}
                <p class="card-text"><b>OS Build:</b> {{ response.device.os_build }}</p>
                {% endif %}
                {% if response.device.serial_num %}
                <p class="card-text"><b>Serial Number:</b> {{ response.device.serial_num }}</p>
                {% endif %}
                {% if response.device.model_identifier %}
                <p class="card-text"><b>Model Identifier:</b> {{ response.device.model_identifier }}</p>
                {% endif %}
                {% if response.device.santa_version %}
                <p class="card-text"><b>Santa Version:</b> {{ response.device.santa_version }}</p>
                {% endif %}
                {% if response.device.client_mode %}
                <p class="card-text"><b>Client Mode:</b> {{ response.device.client_mode }}</p>
                {% endif %}
                {% if response.device.cdhash_rule_count %}
                <p class="card-text"><b>CD Hash Rule Count:</b> {{ response.device.cdhash_rule_count }}</p>
                {% endif %}
                {% if response.device.signingid_rule_count %}
                <p class="card-text"><b>Signing ID Rule Count:</b> {{ response.device.signingid_rule_count }}</p>
                {% endif %}
                {% if response.device.binary_rule_count %}
                <p class="card-text"><b>Binary Rule Count:</b> {{ response.device.binary_rule_count }}</p>
                {% endif %}
                {% if response.device.teamid_rule_count %}
                <p class="card-text"><b>Team ID Rule Count:</b> {{ response.device.teamid_rule_count }}</p>
                {% endif %}
                {% if response.device.compiler_rule_count %}
                <p class="card-text"><b>Compiler Rule Count:</b> {{ response.device.compiler_rule_count }}</p>
                {% endif %}
                {% if response.device.certificate_rule_count %}
                <p class="card-text"><b>Certificate Rule Count:</b> {{ response.device.certificate_rule_count }}</p>
                {% endif %}
                {% if response.device.transitive_rule_count %}
                <p class="card-text"><b>Transitive Rule Count:</b> {{ response.device.transitive_rule_count }}</p>
                {% endif %}
                {% if response.device.request_clean_sync %}
                <p class="card-text"><b>Request Clean Sync:</b> {{ response.device.request_clean_sync }}</p>
                {% endif %}
                {% if response.device.machine_id %}
                <p class="card-text"><b>Machine ID:</b> {{ response.device.machine_id }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <b>More Binary Details</b>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                {% if response.binary.file_bundle_name %}
                <p class="card-text"><b>File Bundle Name:</b> {{ response.binary.file_bundle_name }}</p>
                {% endif %}
                {% if response.binary.file_bundle_version %}
                <p class="card-text"><b>Version:</b> {{ response.binary.file_bundle_version }}</p>
                {% endif %}
                {% if response.binary.file_bundle_id %}
                <p class="card-text"><b>Bundle ID:</b> {{ response.binary.file_bundle_id }}</p>
                {% endif %}
                {% if response.binary.file_name %}
                <p class="card-text"><b>File Name:</b> {{ response.binary.file_name }}</p>
                {% endif %}
                {% if response.binary.file_path %}
                <p class="card-text text-break"><b>File Path:</b> {{ response.binary.file_path }}</p>
                {% endif %}
                {% if response.binary.file_bundle_version_string %}
                <p class="card-text"><b>File Bundle Version:</b> {{ response.binary.file_bundle_version_string }}</p>
                {% endif %}
                {% if response.binary.signing_id %}
                <p class="card-text"><b>Signing ID:</b> {{ response.binary.signing_id }}</p>
                {% endif %}
                {% if response.binary.team_id %}
                <p class="card-text"><b>Team ID:</b> {{ response.binary.team_id }}</p>
                {% endif %}
                {% if response.binary.file_sha256 %}
                <p class="card-text"><b>File Hash:</b> {{ response.binary.file_sha256 }}</p>
                {% endif %}
                {% if response.binary.file_bundle_hash %}
                <p class="card-text"><b>Bundle Hash:</b> {{ response.binary.file_bundle_hash }}</p>
                {% endif %}
                {% if response.binary.file_bundle_executable_rel_path %}
                <p class="card-text"><b>File Bundle Executable Relative Path:</b> {{ response.binary.file_bundle_executable_rel_path }}</p>
                {% endif %}
                {% if response.binary.signing_chain and response.binary.signing_chain|length > 0 %}
                <p class="card-text"><b>Signing Chain:</b></p>
                <ol class="list-group list-group-numbered">
                  {% for i in response.binary.signing_chain %}
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                              <div class="fw-bold">{{ i.cn }}</div>
                              <small class="d-block">SHA-256: {{ i.sha256 }}</small>
                              <small class="d-block">Organization: {{ i.org }}</small>
                              <small class="d-block">Organizational Unit: {{ i.ou }}</small>
                              <small class="d-block">Valid From: {{ i.valid_from }}</small>
                              <small class="d-block">Valid Until: {{ i.valid_until }}</small>
                          </div>
                      </li>
                  {% endfor %}
                </ol>
                {% endif %}
              </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

{% if response.ruleexists %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("allow").addEventListener("click", function () {
      console.log("Button clicked! Sending request...");

      // Get data from the page
      const FileSha256 = "{{ response.binary.file_sha256 }}";
      const Identifier = "{{ response.device.identifier }}";
      const Scope = "{{ response.rule.scope }}";
      const RuleType = "{{ response.rule.rule_type }}";
      const RuleID = "{{ response.rule.identifier }}";
      const apiKey = "{{ response.api_key }}";

      // Prepare request payload
      const requestData = {
        action: "machine",
        filehash: FileSha256,
        identifier: Identifier,
        scope: Scope,
        ruletype: RuleType,
        ruleid: RuleID
      };

      console.log("Request Data:", requestData);

      // Send POST request
      fetch("/santa/blockables/rule", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-API-Key": apiKey
        },
        body: JSON.stringify(requestData)
      })
      .then(response => {
        console.log("Response status:", response.status);
        return response.text();  // Get raw response text
      })
      .then(text => {
        console.log("Raw response:", text);  // Log raw response for debugging
        try {
          const data = JSON.parse(text);  // Attempt to parse JSON
          console.log("Parsed JSON:", data);
          if (data.success) {
            alert("Rule added successfully!");
          } else {
            alert("Failed to add rule: " + data.message);
          }
        } catch (error) {
          console.error("JSON Parse Error:", error);
          alert("Server did not return valid JSON. Check the console for details.");
        }
      })
      .catch(error => {
        console.error("Fetch Error:", error);
        alert("An error occurred while sending the request.");
      });
    });
  });
</script>
{% else %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("allow-new").addEventListener("click", function () {
      console.log("Button clicked! Sending request...");

      // Get data from the page
      const FileSha256 = "{{ response.binary.file_sha256 }}";
      const Identifier = "{{ response.device.identifier }}";
      const Scope = "machine";
      const RuleType = "{{ response.rule.rule_type }}";
      const RuleID = "{{ response.rule.identifier }}";
      const apiKey = "{{ response.api_key }}";

      // Prepare request payload
      const requestData = {
        action: "new",
        filehash: FileSha256,
        identifier: Identifier,
        scope: Scope,
        ruletype: RuleType,
        ruleid: RuleID
      };

      console.log("Request Data:", requestData);

      // Send POST request
      fetch("/santa/blockables/rule", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-API-Key": apiKey
        },
        body: JSON.stringify(requestData)
      })
      .then(response => {
        console.log("Response status:", response.status);
        return response.text();  // Get raw response text
      })
      .then(text => {
        console.log("Raw response:", text);  // Log raw response for debugging
        try {
          const data = JSON.parse(text);  // Attempt to parse JSON
          console.log("Parsed JSON:", data);
          if (data.success) {
            alert("Rule added successfully!");
          } else {
            alert("Failed to add rule: " + data.message);
          }
        } catch (error) {
          console.error("JSON Parse Error:", error);
          alert("Server did not return valid JSON. Check the console for details.");
        }
      })
      .catch(error => {
        console.error("Fetch Error:", error);
        alert("An error occurred while sending the request.");
      });
    });
  });
</script>
{% endif %}
</body>